@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap");

:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Light-Mode-Text: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
}

body {
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--Very-Light-Gray);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  background-color: var(--White);
  color: black;
  border-bottom: 1px solid #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.mode {
  font-weight: 600;
  display: flex;
}

.mode:hover {
  cursor: pointer;
}

header ion-icon {
  font-size: 20px;
  padding-right: 10px;
}

.search {
  display: flex;
  flex-direction: column;
  padding: 2rem 1rem;
}
.search-container {
  display: flex;
  padding: 1rem;
  border-radius: 5px;
  background-color: var(--White);
  border: 1px solid #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.search-input {
  border: none;
  font-size: large;
  width: 80%;
}
.search-input:focus,
.filter-select:focus,
.filter-subregion:focus,
.sort-container:focus {
  outline: none;
}

.search ion-icon {
  font-size: 2rem;
  color: gray;
  padding: 0 3rem;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter,
.subregion-filter,
.sort {
  width: 70%;
  background-color: var(--White);
  border: 1px solid #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.filter-select,
.filter-subregion,
.sort-container {
  padding: 1rem;
  border: none;
  background-color: var(--White);
  font-size: 12px;
  width: max-content;
}

.countries {
  margin: 3rem;
  width: auto;
  display: flex;
  flex-direction: column;
}
.country {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  background-color: var(--White);
  border: 1px solid #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.custom-link {
  text-decoration: none;
  color: #333;
}
.country-image {
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
}

.country-details {
  padding-left: 2rem;
}

/* Deatil-page styling */

.detail-container {
  background-color: var(--White);
  margin: 1.5rem;
  border: 1px solid #eee;
}

.backBtn {
  margin: 3rem;
}
.backBtn button {
  cursor: pointer;
  padding: 0.4rem 2rem;
  background-color: var(--White);
  border: 1px solid #eee;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.details-div {
  margin: 2rem;
}

.details-div img {
  width: 100%;
  height: auto;
}

.details-div span {
  font-weight: 100;
}

.country-detail {
  padding: 0;
}

.details,
.more-details {
  font-weight: 600;
  margin-bottom: 40px;
}

.border-countries {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.border-countries div {
  background-color: var(--White);
  border: 1px solid #eee;
  padding: 5px;
}
/* dark mode */

body.dark-mode {
  background-color: var(--Very-Dark-Blue);
}

.header.dark-mode {
  background-color: var(--Dark-Blue);
  color: #eee;
  border-bottom: 1px solid #333;
}

.search-container.dark-mode,
.country.country-dark,
.filter.filter-dark,
.sort.dark-mode,
.subregion-filter.dark-mode,
.detail-container.dark-mode {
  background-color: var(--Dark-Blue);
  color: #eee;
  border: 1px solid #333;
}
.search-input.dark-mode,
.filter-select.filter-select-dark,
.sort-container.dark-mode,
.filter-subregion.dark-mode {
  background-color: var(--Dark-Blue);
  color: #eee;
}

.btn.dark-mode {
  background-color: var(--Very-Dark-Blue);
  border: none;
  color: var(--White);
}

.border-countries.dark-mode div {
  background-color: var(--Very-Dark-Blue);
  border: none;
  color: var(--White);
}

@media (min-width: 900px) {
  .search {
    width: 50%;
  }
  .filters {
    width: 50%;
    flex-direction: row;
    margin: 0 0 0 1rem;
    gap: 30px;
  }

  .country {
    max-width: 300px;
  }
  
  .countries {
    width: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2rem;
    margin-left: 4.5rem;
  }

  .details-div {
    display: flex;
  }

  .country-detail {
    margin-left: 7rem;
  }

  .container {
    display: flex;
    gap: 40px;
  }

  .details-div img {
    width: 40%;
    height: auto;
  }
}
